body {
  background-color: #2670b5;
}

.jumbotron {
  text-align:center;
  background-color:#66ccff;
  color: #2670b5;
}

h3 {
  color:#66ccff;
}

.img-responsive {
  width:100%;
  margin:auto;
}

p {
  color:#ccffff;
  font-size:1.9em;
}

.nav-item {
  font-size: 2em;
  text-align: left;
}

#possible {
  font-size: 12em;
  text-align: center;
}

#fun {
  font-size:0.8em;
  text-align: right;
}

.survey-text {
  font-size:1.5em;
  color:#ccffff;
}

.question-text {
  font-size:2em;
  color:#ccffff;
}

.question2 {
  display:none;
}

.question3 {
  display:none;
}

.question4 {
  display:none;
}

.question5 {
  display:none
}

.question6 {
  display:none;
}
