body {
  background-color: #2670b5;
}

.jumbotron {
  text-align:center;
  background-color:#66ccff;
  color: #2670b5;
}

h3 {
  color:#66ccff;
}

.img-responsive {
  width:100%;
  margin:auto;
}

p {
  color:#ccffff;
  font-size:1.8em;
}

.nav-item {
  font-size: 2em;
  text-align: left;
}
